@import "../../../styles/color-variables.scss";

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        path {
            fill: $primary-color;
        }   
        padding: 0 5px;
    }
    background: $pink-light;
    margin-top: 50px;
    padding: 20px;
}