@import "../../../styles/color-variables.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    z-index: 20;
    a img {
        animation: fadeInOut 1s ease forwards; 
    }
    
    @keyframes fadeInOut {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }      
      
      .hidden {
        display: none;
      }
    nav {
        display: flex;
        ol {
            display: flex;
        }
        li {
            list-style: none;
        }
        a {
            text-decoration: none;
            color: $accent-color;
            font-weight: 500;
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 500px) {
  header {
    justify-content: center;
  } 
}