<header>
  <a class="logo" (mouseover)="isHovered = true" (mouseleave)="isHovered = false">
      <img src="../../../assets/me.svg" alt="me-logo" [class.hidden]="isHovered">
      <img src="../../../assets/me-smile.svg" alt="me-hi-logo" [class.hidden]="!isHovered">
  </a>
  <nav class="nav">
    <ol>
      <li class="nav-item">
        <a href="#home" >Home &#8212;</a>
      </li>
      <li class="nav-item">
        <a href="#work">Work &#8212;</a>
      </li>
      <li class="nav-item">
        <a (click)="scrollToAbout()" href="#about">About</a>
      </li>
    </ol>
  </nav>
</header>
