<section id="about" class="about" #about>
    <div class="title">
        <div class="title-and-line">
            <h2>About.</h2>
            <hr class="line"/>
        </div>
    </div>
    <div class="about-section">
        <div class="image">
            <img src="../../assets/baggi.jpg" alt="blob-violet"/>
        </div>
        <div class="presentation">
            <p>Un texte d’une longueur encore inconnu qui parle du travail réalisé sur novaskin. Un texte d’une longueur encore inconnu qui parle du travail réalisé sur novaskin  

                Un texte d’une longueur encore inconnu qui parle du travail réalisé sur novaskin. Un texte d’une longueur encore inconnu qui parle du travail réalisé sur novaskin  </p>
        </div>
    </div>
</section>
