<section id="about" class="about" #about>
    <div class="image">
        <img src="../../assets/natacha-portrait.jpg" alt="blob-violet"/>
    </div>
    <div class="about-section">
        <div class="title">
            <div class="title-and-line">
                <h2>About.</h2>
                <hr class="line"/>
            </div>
        </div>
        <div class="presentation">
            <p>Je m'appelle Natacha Rome, je suis originaire de Haute-Savoie 🐮 mais je vis dans les Hauts de France 🍺 depuis quelques années maintenant. J'y ai vraiment trouvé un bon équilibre, à part la météo contre laquelle je peste parfois. ☔️ <br><br> 📖 J'ai fait des études de design graphique qui m'ont passionée mais j'ai décidé de bifurquer vers le développement web  qui m'a toujours plu. <br><br>  Je réalise à la fois des projets de design 🎨 et des projets de développement. 👩‍💻 <br> J'aime cette double casquette, qui me permet d'avoir une vision complète sur des projets web. Je suis disponible pour réaliser des petits projets en design ou en développement. N'hésitez pas à me contacter.</p>
        </div>
    </div>
</section>
