@import 'color-variables';
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding:0;
  z-index: -22;
  width: 100vw;
  left:0;
  overflow-x: hidden;
}

h1, h2 {
  font-family: "Jomhuria", serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 100px;
}

p, h3, a, button {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

h3 {
  font-size: 25px;
  font-weight: 500;
  color: $accent-color;
}

a {
  cursor: pointer;
}

.w-80 {
  width: 80%;
}

.header {
  width: 100%;
}

#main:not(.dark) {
  color: $primary-color;
  padding: 0;
  margin:0;
}

#main:not(.light) {
  color: white;
  background-color: #463F8E;

  a {
    color: white;
  }

}