<section class="work">
    <img class="blob blob-violet" src = "../../assets/blob-violet.svg" alt="blob-violet"/>
    <div class="title">
        <div class="title-and-line">
            <h2>Work.</h2>
            <hr class="line"/>
        </div>
        <div class="buttons">
            <button [ngClass]="{'btn-active': isDesign}" class="btn btn-active" (click)="onDesignClick()">Design</button>
            <button [ngClass]="{'btn-active': !isDesign}" class="btn" (click)="onDevClick()">Développement</button>
        </div>
    </div>
    <div class="projects">
        <div class="project-cards">
            @for (project of projects; track project.id; let idx = $index) {
                <app-card [isOdd]="idx % 2 === 0" [project]="project"></app-card>
            } @empty {
                <h3 class="empty">Il n'y actuellement aucun projet dans cette catégorie.</h3>
            }
        </div>
    </div>
</section>
