@import "../../styles/color-variables.scss";
.work {
    display: flex;
    flex-direction: column; 
    width: 100%;
    padding-top: 50px;
    
    .blob {
        position: absolute;
        z-index: -1;
    }

    .blob-violet {
        display: none; // todo: a changer
        top:800px;
        animation: bounce 20s ease infinite alternate;
    }

    h2 {
        line-height: 0.3;
    }

    .title-and-line {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 250px;
    }    

    .line {
        width: 100%;
        height: 3px;
        margin: 0px 10px;
        background-color: #FF5170;
        border: none;
        margin-top: 10px;
    }

    .projects {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        .project-cards {
            display: flex;
            flex-direction: column;
            .card > .reverse {
                background-color: #FF5170;
                flex-direction: row-reverse;
            }
        }

        .empty {
            display: flex;
            align-items: center;
            text-align: center;
            padding: 25px;
            font-size: 20px;
        }
    }

    .buttons {
        display: flex;
        margin: 70px;
        .btn {
          padding: 10px 20px;
          border: 1px solid $primary-color;
          background-color: white;
          margin: 0 10px;
          border-radius: 11px;
          color: $primary-color;
          font-size: 20px;
        }

        .btn-active {
            background-color: $primary-color;
            color: white
        }
    }
}

@media screen and (max-width: 500px) {
    .work {
        .buttons {
            flex-wrap: wrap;
    
            .btn {
              margin: 10px 10px;
            }
        }
    }
}
