@import "../../../styles/color-variables.scss";

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100Vh;

  .project-details {
    padding: 20px;
}

  .project-links {
    display: flex;

    .link {
      display: flex;
      margin-right:20px;
  
      .btn-light {
        margin-top: 30px;
        padding: 20px 27px;
        background-color: $pink-light;
        border: none;
        border-radius: 11px;
        cursor: pointer;
        transition: 0.3s;
        color: $primary-color;
        text-decoration: none;
      }

      .btn-primary {
        margin-top: 30px;
        padding: 20px 27px;
        background-color: $primary-color;
        border: none;
        border-radius: 11px;
        cursor: pointer;
        transition: 0.3s;
        color: white;
        text-decoration: none;
      }
    
      .btn-light:hover {
        background-color: #e9d3d6;
      }

      .btn-primary:hover {
        background-color: #d5425d;
      }
    }
  }
 
  h2 {
    line-height: 0.7;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 30px;
      transition: all 0.3s ease;
    }

    img:hover {
      transform: scale(1.2);
    }
  }

  .title-and-line {
    width: 450px;
  }

  .line {
    width: 150%;
    height: 3px;
    background-color: #ff5170;
    border: none;
    margin-top: 10px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .tag {
      color: gray;
      background-color: #eeeeee;
      padding: 5px 10px;
      border-radius: 50px;
      margin: 10px;
      font-size: 13px;
    }
  }

  .project-pictures {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    .project-image {
      width: 100%;
      margin-bottom: 20px;
      border-radius: 30px;
    }
  }
}

@media screen and (max-width: 600px) {
  .project {
  
    .title-and-line {
      width: 200px;
    }
  }
 
}