<div>
  <div class="informations">
    <div class="informations-container">
      <button class="dark-mode" (click)="toggleDarkTheme()"><img src="../assets/moon.svg" alt="moon"></button>
      <div class="social">
        <a href="https://www.linkedin.com/in/natacha-rome-a218ab165/" target="_blank"><img src="../assets/linkedin.svg" alt="linkedin"></a>
        <a href="https://github.com/natacharome" target="_blank"><img src="../assets/github.svg" alt="linkedin"></a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
