@import "../styles/color-variables.scss";
.informations {
    position: fixed; 
    bottom: 0;
    left: 0;
    z-index: 20;
    .informations-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        left: 50px;
    }

    button {
        background-color: transparent;
        border: none;
        margin-bottom: 10px;
        img {
            width: 30px;
        }
    }
    .social {
        display: flex;
        flex-direction: column;
        background-color: $pink-light;
        border-top-left-radius : 10px;
        border-top-right-radius : 10px;
        padding: 10px;
        img {
            width: 30px;
            margin-top:10px;
        }
    }
}