
<section class="home">
    <app-header class="header"></app-header>
    <img class="blob blob-right" src = "../../assets/blob-right.svg" alt="blob-right"/>
    <img class="blob blob-middle" src = "../../assets/blob-middle.svg" alt="blob-middle"/>
    <img class="blob blob-left" src = "../../assets/blob-left.svg" alt="blob-left"/>
    <div class="title">
        <h1>hybrid</h1>
        <div class="title-section">
            <p class="developer">developer</p>
            <hr class="line"/>
            <p class="designer">designer</p>
        </div>
    </div>
</section>
